*{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size:16px;
    letter-spacing: 0.02em;
	margin: 0;
	padding: 0;
}
body{
	text-align: center;
	background: url('./../img/bg.gif') #fff;    /* фон для html страницы */
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
#background{
	display: inline-block;
 	overflow: hidden;
	text-align: left;
	margin: 30px auto;
	background: url('./../img/logo.jpg')  no-repeat #fff left top;
	background-size: 120px; /* Масштабируем фон */
    box-shadow: 0 0 10px rgba(0,0,0,0.4); /* Параметры тени */
}
/* --------------------------------------------------------- */
.header{
	display: block;
    position:relative;
 	overflow: hidden;
    /*border: solid #5d62e1 1px;*/
}
/* --------------------------------------------------------- */


/* --------------------------------------------------------- */
#system_status{
	display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
}
.system_status_ok{ border: solid #49ab30 2px; }
.system_status_no{ border: solid #e15a5e 2px; }
/* --------------------------------------------------------- */


/* --------------------------------------------------------- */
.logo{
	display: block;
	margin:10px 10px 10px 110px;
	padding: 10px 10px 10px 30px;
 	border: 1px #999;
	border-style: none none solid none;
    height:50px;
    /*border: solid #3ae160 1px;*/
}
.logo h1, h3{
	display: inline;
}
.logo h1{
	font-family: Verdana, sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 48px;
}
.logo h3{
	font-family: "Times New Roman", serif;
	font-size: 24px;
	color: #CD7300;
	font-weight: 200;
}
.header form{
    padding-left: 20px;
}
.header form input[type="submit"] {
    color: #1d6431;
}
/* --------------------------------------------------------- */

.content{
	display: block;
	padding: 10px 0;
    overflow: hidden;
    /*border: solid #c6444d 1px;*/
}
/* --------------------------------------------------------- */







/* --------------------------------------------------------- */
/*                     с с ы л к и                           */
a {
    outline: none ;             /* Параметры рамки */
    text-decoration: none;      /* Отменяем подчеркивание у ссылки */
    color: #222 ;
}
a:hover {
    color: #e22712;
}
span{
    padding-right: 5px;
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/*        ф о р м ы   в в о д а   д а н н ы х                */
label {
    font-size:16px;
	color: gray;
}
input{
	color: #525280;
    font-size:14px;
    display: inline-block;
    margin:0 auto;
    padding: 0 5px 0 10px;

    height: 20px;
    border:1px solid #B4B6BA;
    background-color:#E4E6E9;
    border-radius:2px ;
    box-shadow:inset 0 1px 0 #bec0d9;
    outline:none;
}
 input[type="submit"] {
    display: inline-block;
    color: #52519e;
    cursor:pointer;
    padding: 0 5px;
    margin: 0 ;

    border-radius: 5px ;
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/*           т а б л и ц ы                                   */
table {
	border: solid  1px #e4e2e2;
	border-collapse:collapse;
}
table caption{
    color: #868d98;
}

table tr:nth-child(2n) {
  	background: #E4E6E9;
}
table tr:hover {
    background: #d3d5d8;
}

table td,
table th {
	border:none;
	font-weight: 300;
    text-align: left;
    white-space:nowrap;
	padding: 5px 10px;
    margin: 0;
}
table th {
    background-color: #868d98;
    color: white;
	border: 1px #99a1ae;
	border-style: solid solid none solid;
}
table td {
	padding: 3px 5px;
	border-left: 1px solid #c6c6c6;
}

/* --------------------------------------------------------- */


/* --------------------------------------------------------- */
/*        всплывающаяя подсказка                             */
table .info_popup {
    display: none;
    z-index:999;
}
table td:hover .info_popup_background {
    display: block;
    position: absolute;
    overflow: visible;
}
table td:hover .info_popup{
    display: block;
    position: absolute;
    right:0;
    border: 1px double #657fca;
    background: #e0e2e5;
    text-align: left;
    padding: 5px;
}
/* --------------------------------------------------------- */




/* --------------------------------------------------------- */

/** { outline: 2px solid red }*/
/** * { outline: 2px solid green }*/
/** * * { outline: 2px solid orange }*/
/** * * * { outline: 2px solid blue }*/
/** * * * * { outline: 1px solid red }*/
/** * * * * * { outline: 1px solid green }*/
/** * * * * * * { outline: 1px solid orange }*/
/** * * * * * * * { outline: 1px solid blue }*/

/* --------------------------------------------------------- */